﻿@model Project.Net.Models.DataModel.Product
@{
	ViewBag.Title = "Index";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

@section plugincss{
	<link rel="stylesheet" type="text/css" href="~/Content/plugins/slick-1.8.0/slick.css">
	<link rel="stylesheet" type="text/css" href="~/Content/styles/main_styles.css">
	<link rel="stylesheet" type="text/css" href="~/Content/styles/responsive.css">
}
<div id="home">
	<div class="banner">
		<div class="banner_background" style="background-image:url(/Content/images/banner_background.jpg)"></div>
		<div class="container fill_height">
			<div class="row fill_height" v-for="b1 in bannerHeader">
				<div class="banner_product_image"><img :src="b1.Image" alt=""></div>
				<div class="col-lg-5 offset-lg-4 fill_height">
					<div class="banner_content">
						<h1 class="banner_text">new era of smartphones</h1>
						<div class="banner_price"><span>$530</span>$460</div>
						<div class="banner_product_name">{{b1.Name}}</div>
						<div class="button banner_button"><a href="#">Shop Now</a></div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Characteristics -->

	<div class="characteristics">
		<div class="container">
			<div class="row">

				<!-- Char. Item -->
				<div class="col-lg-3 col-md-6 char_col">

					<div class="char_item d-flex flex-row align-items-center justify-content-start">
						<div class="char_icon"><img src="~/Content/images/char_1.png" alt=""></div>
						<div class="char_content">
							<div class="char_title">Free Delivery</div>
							<div class="char_subtitle">from $50</div>
						</div>
					</div>
				</div>

				<!-- Char. Item -->
				<div class="col-lg-3 col-md-6 char_col">

					<div class="char_item d-flex flex-row align-items-center justify-content-start">
						<div class="char_icon"><img src="~/Content/images/char_2.png" alt=""></div>
						<div class="char_content">
							<div class="char_title">Free Delivery</div>
							<div class="char_subtitle">from $50</div>
						</div>
					</div>
				</div>

				<!-- Char. Item -->
				<div class="col-lg-3 col-md-6 char_col">

					<div class="char_item d-flex flex-row align-items-center justify-content-start">
						<div class="char_icon"><img src="~/Content/images/char_3.png" alt=""></div>
						<div class="char_content">
							<div class="char_title">Free Delivery</div>
							<div class="char_subtitle">from $50</div>
						</div>
					</div>
				</div>

				<!-- Char. Item -->
				<div class="col-lg-3 col-md-6 char_col">

					<div class="char_item d-flex flex-row align-items-center justify-content-start">
						<div class="char_icon"><img src="~/Content/images/char_4.png" alt=""></div>
						<div class="char_content">
							<div class="char_title">Free Delivery</div>
							<div class="char_subtitle">from $50</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Deals of the week -->

	<div class="deals_featured">
		<div class="container">
			<div class="row">
				<div class="col d-flex flex-lg-row flex-column align-items-center justify-content-start">

					<!-- Deals -->

					<div class="deals">
						<div class="deals_title">Deals of the Week</div>
						<div class="deals_slider_container">

                            <!-- Deals Slider -->
                            <div class="owl-carousel owl-theme deals_slider">
                                <!-- Deals Item -->
                                <div class="owl-item deals_item" v-for="deal in listComponentProduct.deal">
                                    <div class="deals_image"><img :src="deal.Image" alt=""></div>
                                    <div class="deals_content">
                                        <div class="deals_info_line d-flex flex-row justify-content-start">
                                            <div class="deals_item_category"><a :href="'/Products/ProductInCate/'+deal.Categories.CategoryId">{{deal.Categories.CategoryName}}</a></div>
                                            <div class="deals_item_price_a ml-auto">${{deal.Price}}</div>
                                        </div>
                                        <div class="deals_info_line d-flex flex-row justify-content-start">
                                            <a :href="'/Products/Details/'+deal.ProductId"> <div class="deals_item_name">{{deal.ProductName}}</div></a>
                                            <div class="deals_item_price ml-auto" v-show="deal.SalePrice">${{deal.SalePrice}}</div>
                                        </div>
                                        @*<div class="available">
                                                <div class="available_line d-flex flex-row justify-content-start">
                                                    <div class="available_title">Available: <span>6</span></div>
                                                    <div class="sold_title ml-auto">Already sold: <span>28</span></div>
                                                </div>
                                                <div class="available_bar"><span style="width:17%"></span></div>
                                            </div>*@
                                        <div class="deals_timer d-flex flex-row align-items-center justify-content-start">
                                            <div class="deals_timer_title_container">
                                                <div class="deals_timer_title">Hurry Up</div>
                                                <div class="deals_timer_subtitle">Offer ends in:</div>
                                            </div>
                                            <div class="deals_timer_content ml-auto">
                                                <div class="deals_timer_box clearfix" data-target-time="">
                                                    <div class="deals_timer_unit">
                                                        <div id="deals_timer1_hr" class="deals_timer_hr"></div>
                                                        <span>hours</span>
                                                    </div>
                                                    <div class="deals_timer_unit">
                                                        <div id="deals_timer1_min" class="deals_timer_min"></div>
                                                        <span>mins</span>
                                                    </div>
                                                    <div class="deals_timer_unit">
                                                        <div id="deals_timer1_sec" class="deals_timer_sec"></div>
                                                        <span>secs</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

						<div class="deals_slider_nav_container">
							<div class="deals_slider_prev deals_slider_nav"><i class="fas fa-chevron-left ml-auto"></i></div>
							<div class="deals_slider_next deals_slider_nav"><i class="fas fa-chevron-right ml-auto"></i></div>
						</div>
					</div>

					<!-- Featured -->
					<div class="featured">
						<div class="tabbed_container">
							<div class="tabs">
								<ul class="clearfix">
									<li class="active">Featured</li>
									<li>New</li>
									<li>On Sale</li>
								</ul>
								<div class="tabs_line"><span></span></div>
							</div>

							<!-- Product Panel Featured-->
							<div class="product_panel panel active">
								<div class="featured_slider slider">

                                    <!-- Slider Item -->
                                    <div class="featured_slider_item" v-for="feature in listComponentProduct.feature" :key="feature.ProductId">
                                        <div class="border_active"></div>
                                        <div class="product_item d-flex flex-column align-items-center justify-content-center text-center" v-bind:class="classObject(feature.ProductNotes)">
                                            <div class="product_image d-flex flex-column align-items-center justify-content-center"><img :src="feature.Image"></div>
                                            <div class="product_content">
                                                <div class="product_price discount" v-if="feature.SalePrice">${{feature.SalePrice}}<span>${{feature.Price}}</span></div>
                                                <div class="product_price" v-else>${{feature.Price}}</div>
                                                <div class="product_name"><div><a v-on:click="productDetails(feature.ProductId)">{{feature.ProductName}}</a></div></div>
                                                <div class="product_extras">
                                                    <div class="product_color"> </div>
                                                    <button class="product_cart_button" v-on:click="productDetails(feature.ProductId)" >View Details</button>
                                                </div>
                                            </div>
                                            <ul class="product_marks">
                                                <li class="product_mark product_discount">-25%</li>
                                                <li class="product_mark product_new">new</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="featured_slider_dots_cover"></div>
                            </div>

							<!-- Product Panel New-->

                            <div class="product_panel panel">
                                <div class="featured_slider slider">
                                    <!-- Slider Item -->
                                    <div class="featured_slider_item" v-for="pnew in listComponentProduct.new" :key="pnew.ProductId">
                                        <div class="border_active"></div>
                                        <div class="product_item d-flex flex-column align-items-center justify-content-center text-center" v-bind:class="classObject(pnew.ProductNotes)">
                                            <div class="product_image d-flex flex-column align-items-center justify-content-center"><img :src="pnew.Image"></div>
                                            <div class="product_content">
                                                <div class="product_price discount" v-if="pnew.SalePrice">${{pnew.SalePrice}}<span>${{pnew.Price}}</span></div>
                                                <div class="product_price" v-else>${{pnew.Price}}</div>
                                                <div class="product_name"><div><a v-on:click="productDetails(pnew.ProductId)">{{pnew.ProductName}}</a></div></div>
                                                <div class="product_extras">
                                                    <div class="product_color"> </div>
                                                    <button class="product_cart_button" v-on:click="productDetails(pnew.ProductId)" >View Details</button>
                                                </div>
                                            </div>
                                            <ul class="product_marks">
                                                <li class="product_mark product_discount">-25%</li>
                                                <li class="product_mark product_new">new</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="featured_slider_dots_cover"></div>
                            </div>

							<!-- Product Panel -->

                            <div class="product_panel panel">
                                <div class="featured_slider slider">
                                    <!-- Slider Item -->
                                    <div class="featured_slider_item" v-for="sale in listComponentProduct.sale" :key="sale.ProductId">
                                        <div class="border_active"></div>
                                        <div class="product_item d-flex flex-column align-items-center justify-content-center text-center" v-bind:class="classObject(sale.ProductNotes)">
                                            <div class="product_image d-flex flex-column align-items-center justify-content-center"><img :src="sale.Image"></div>
                                            <div class="product_content">
                                                <div class="product_price discount" v-if="sale.SalePrice">${{sale.SalePrice}}<span>${{sale.Price}}</span></div>
                                                <div class="product_price" v-else>${{sale.Price}}</div>
                                                <div class="product_name"><div><a v-on:click="productDetails(sale.ProductId)">{{sale.ProductName}}</a></div></div>
                                                <div class="product_extras">
                                                    <div class="product_color"> </div>
                                                    <button class="product_cart_button" v-on:click="productDetails(sale.ProductId)">View Details</button>
                                                </div>
                                            </div>
                                            <ul class="product_marks">
                                                <li class="product_mark product_discount">-25%</li>
                                                <li class="product_mark product_new">new</li>
                                            </ul>
                                        </div>
                                    </div>

								</div>
								<div class="featured_slider_dots_cover"></div>
							</div>

						</div>
					</div>

				</div>
			</div>
		</div>
	</div>

	<!-- Popular Categories -->

	<div class="popular_categories">
		<div class="container">
			<div class="row">
				<div class=" col-md-3">

					<div class="popular_categories_content">
						<div class="popular_categories_title">Popular Categories</div>
						<div class="popular_categories_slider_nav">
							<div class="popular_categories_prev popular_categories_nav"><i class="fas fa-angle-left ml-auto"></i></div>
							<div class="popular_categories_next popular_categories_nav"><i class="fas fa-angle-right ml-auto"></i></div>
						</div>
						<div class="popular_categories_link"><a href="#">full catalog</a></div>
					</div>
				</div>

				<!-- Popular Categories Slider -->

				<div class=" col-md-9">
					<div class="popular_categories_slider_container">
						<div class="owl-carousel owl-theme popular_categories_slider" ref="popular_categories_slider">
							<div class="owl-item" v-for="cat in listCategory" :key="cat.CategoryId">
								<div class="popular_category d-flex flex-column align-items-center justify-content-center">
									<div class="popular_category_image"><img :src="cat.Image" alt=""></div>
									<div class="popular_category_text">{{cat.CategoryName}}</div>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Banner -->

	<div class="banner_2">
		<div class="banner_2_background" style="background-image:url(/Content/images/banner_2_background.jpg)"></div>
		<div class="banner_2_container">
			<div class="banner_2_dots"></div>
			<!-- Banner 2 Slider -->

			<div class="owl-carousel owl-theme banner_2_slider">
				<!-- Banner 2 Slider Item -->
				<div class="owl-item" v-for="b2 in bannerContent" :key="b2.Id">
					<div class="banner_2_item">
						<div class="container fill_height">
							<div class="row fill_height">
								<div class="col-lg-4 col-md-6 fill_height">
									<div class="banner_2_content">
										<div class="banner_2_category">Laptops</div>
										<div class="banner_2_title">{{b2.name}}</div>
										<div class="banner_2_text">{{b2.Description}}</div>
										<div class="button banner_2_button"><a href="#">Explore</a></div>
									</div>

                                </div>
                                <div class="col-lg-8 col-md-6 fill_height">
                                    <div class="banner_2_image_container">
                                        <div class="banner_2_image"><img :src="b2.Image" alt=""></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


	<!-- Trends -->

	<div class="trends">
		<div class="trends_background"></div>
		<div class="trends_overlay"></div>
		<div class="container">
			<div class="row">

				<!-- Trends Content -->
				<div class="col-lg-3">
					<div class="trends_container">
						<h2 class="trends_title">Trends 2018</h2>
						<div class="trends_text"><p>Lorem ipsum dolor sit amet, consectetur adipiscing Donec et.</p></div>
						<div class="trends_slider_nav">
							<div class="trends_prev trends_nav"><i class="fas fa-angle-left ml-auto"></i></div>
							<div class="trends_next trends_nav"><i class="fas fa-angle-right ml-auto"></i></div>
						</div>
					</div>
				</div>

				<!-- Trends Slider -->
				<div class="col-lg-9">
					<div class="trends_slider_container">

						<!-- Trends Slider -->

						<div class="owl-carousel owl-theme trends_slider">

							<!-- Trends Slider Item -->
							<div class="owl-item" v-for="trend in listComponentProduct.trend">
								<div class="trends_item">
									<div class="trends_image d-flex flex-column align-items-center justify-content-center"><img :src="trend.Image" alt=""></div>
									<div class="trends_content">
										<div class="trends_category"><a href="#">{{trend.Categories.CategoryName}}</a></div>
										<div class="trends_info clearfix">
											<div class="trends_name"><a href="product.html">{{trend.ProductName}}</a></div>
											<div class="trends_price">${{trend.Price}}</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>

	<!-- Brands -->
	<div class="brands">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="brands_slider_container">

						<!-- Brands Slider -->

						<div class="owl-carousel owl-theme brands_slider">
							<div class="owl-item" v-for="b in listSupplier"><div class="brands_item d-flex flex-column justify-content-center"><img :src="b.Logo"></div></div>
						</div>

						<!-- Brands Slider Navigation -->
						<div class="brands_nav brands_prev"><i class="fas fa-chevron-left"></i></div>
						<div class="brands_nav brands_next"><i class="fas fa-chevron-right"></i></div>

					</div>
				</div>
			</div>
		</div>
	</div>
</div>




@section pluginjs{

    <script src="~/Content/plugins/slick-1.8.0/slick.js"></script>
    <script src="~/Content/plugins/easing/easing.js"></script>
    <script src="~/Content/js/custom/home.js"></script>
    @*<script src="~/Content/js/custom.js"></script>*@
}
